<h1>HOME</h1>

<% @potins.each do |potin| %>
    <div class="potin">
        <div class="title">
            <%= potin.title %>
        </div>
        <div class="content">
            <%= potin.content%>
        </div>
        <div class ="author">
            par : <%= link_to potin.user.first_name, user_path(potin.user) %>
        </div>
        <%= link_to "Voir Potin", potin_path(potin)%>
        </br>
    </div>
<%end%>